<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main class="container w-75">
  <h1>Flight List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %> 
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td>
            <%= flight.flightNo %> <a href='#offcanvasOptions' class="text-muted text-decoration-none" data-bs-toggle="offcanvas" role="button">...</a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasOptions" aria-labelledby="offcanvasLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <h4 class="mb-3">Flight <%= flight.flightNo %> </h4>
                <form
                action="/flights/<%= flight._id %>?_method=DELETE"
                method="POST"
                >
                  <a href="/flights/<%= flight._id %> " class="btn btn-primary">Flight Details</a>
                  <button type="submit" class="btn btn-outline">Delete Flight</button>
                </form>
              </div>
          </td>
          <td class="<%= flight.color %>"><%= flight.departs.toLocaleString() %></td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>