<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<header class="container-fluid show-header" >
  <h2 class="p-3" id="show-header"><i class="fa-solid fa-plane"></i> Flight Information</h2>
</header>

<div class="container" id="detail-card">
  <div class="row text-bg-secondary">
    <div class="col">
      <h4>Flight</h4>
    </div>
    <div class="col">
      <h4>Depart</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4><%= flight.airline %> Airlines</h4>
      <h5>Flight <%= flight.flightNo %> </h5>
    </div>
    <div class="col">
      <h4><%= flight.airport %> </h4>
      <p><%= flight.departs.toLocaleDateString() %>  <i class="fa-light fa-timer"></i>  <%= flight.departs.toLocaleTimeString(undefined, {hour: '2-digit', minute: '2-digit'}) %> </p>
    </div>
  </div>
  <a href="/flights/<%= flight._id %>/edit" class="btn btn-primary mb-2">Edit Flight Details</a>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Ticket
  </button>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form 
            action="/flights/<%= flight._id %>/tickets"
            id="add-ticket-form"
            method="POST"
          >
            <label for="seat-number" class="form-label">Seat Number</label>
            <input type="text" class="form-control" id="seat-number"  name="seat">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price"  name="price">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="add-ticket">Add Ticket</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<% if (flight.tickets.length) { %>
  <div class="container d-flex justify-content-center"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Seat Number</th>
          <th>Price</th>
        </tr>
        <tbody>
          <% flight.tickets.forEach(ticket => { %>
            <tr>
              <td><%= ticket.seat %> </td>
              <td><%= ticket.price %> </td>
            </tr>
          <% }) %>  
<% } %>  
        </tbody>
      </thead>
    </table>
</div>
<div class="container" id="meals">
  <h3>Current Meals</h3>
  <ul class="list-group">
    <% flight.meals.forEach(meal => { %> 
      <li class="list-group-item
      "><%= meal.meal %></li>
    <% }) %> 
  </ul>
  <form action="/flights/<%= flight._id %>/meals" method="POST">
    <h3 class="m-5">Add A Meal</h3>
    <select class="form-select mt-3" name="mealId"> 
    <% meals.forEach(function(meal) { %>
        <option value="<%= meal._id %>"><%= meal.meal %></option>
      <% }) %>
      </select>
    <button class="btn btn-outline-secondary mt-2" type="submit">Add Meal</button>
  </form>
</div>

<%- include('../partials/footer') %>